<!doctype html>
<html ng-app="myClass">
    <head>
        <title>my class | principal</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/select2.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/positioning.css"/>
        <link rel="stylesheet" type="text/css" href="css/media_queries.css"/>
        <link rel="stylesheet" type="text/css" href="css/events.css"/>
    </head>
    <body class="neutral-bckg">
        <div class="container container-bckg" id="main" ng-controller="UserController">

            <navigation></navigation>

            <div id="warning"></div>

            <div id="view">
                <div ng-view>
                    <h1 class="loading-view">Aguarde, carregando conteúdo...</h1>
                </div>

                <to-the-top></to-the-top>
            </div>
        </div>

        <!-- frameworks-->
        <script type="text/javascript" src="js/framework/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/framework/angular.min.js"></script>
        <script type="text/javascript" src="js/framework/angular-route.min.js"></script>
        <script type="text/javascript" src="js/framework/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/framework/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/framework/moment.min.js"></script>
        <script type="text/javascript" src="js/framework/highcharts.js"></script>
        <script type="text/javascript" src="js/framework/select2.min.js"></script>

        <!-- modules -->

        <!-- application -->
        <script type="text/javascript" src="js/application/app.js"></script>

        <!-- configurations -->
        <script type="text/javascript" src="js/application/routes/routes.js"></script>

        <!-- interceptors -->
        <script type="text/javascript" src="js/application/interceptors/MainInterceptor.js"></script>

        <!-- services -->
        <script type="text/javascript" src="js/application/services/config.js"></script>
        <script type="text/javascript" src="js/application/services/services.js"></script>

        <!-- resources -->
        <script type="text/javascript" src="js/application/resources/BookResource.js"></script>
        <script type="text/javascript" src="js/application/resources/ClazzResource.js"></script>
        <script type="text/javascript" src="js/application/resources/ClazzDayResource.js"></script>
        <script type="text/javascript" src="js/application/resources/TeacherResource.js"></script>
        <script type="text/javascript" src="js/application/resources/StudentResource.js"></script>
        <script type="text/javascript" src="js/application/resources/PaymentResource.js"></script>
        <script type="text/javascript" src="js/application/resources/StatisticResource.js"></script>

        <!-- lib -->
        <script type="text/javascript" src="js/application/services/lib.js"></script>
        <script type="text/javascript" src="js/application/services/ModalHelper.js"></script>

        <!-- models -->
        <script type="text/javascript" src="js/application/models/User.js"></script>
        <script type="text/javascript" src="js/application/models/Book.js"></script>
        <script type="text/javascript" src="js/application/models/Teacher.js"></script>
        <script type="text/javascript" src="js/application/models/Clazz.js"></script>
        <script type="text/javascript" src="js/application/models/Student.js"></script>
        <script type="text/javascript" src="js/application/models/ClazzDay.js"></script>
        <script type="text/javascript" src="js/application/models/Payment.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="js/application/controllers/UserController.js"></script>
        <script type="text/javascript" src="js/application/controllers/MainController.js"></script>
        <script type="text/javascript" src="js/application/controllers/NavController.js"></script>
        <script type="text/javascript" src="js/application/controllers/ClazzDayController.js"></script>
        <script type="text/javascript" src="js/application/controllers/ClassesController.js"></script>
        <script type="text/javascript" src="js/application/controllers/TeachersController.js"></script>
        <script type="text/javascript" src="js/application/controllers/StudentsController.js"></script>
        <script type="text/javascript" src="js/application/controllers/BooksController.js"></script>
        <script type="text/javascript" src="js/application/controllers/PaymentsController.js"></script>
        <script type="text/javascript" src="js/application/controllers/StatisticsController.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="js/application/directives/navigation-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/block-all-inputs-buttons-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/plus-less-info-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/earnings-stats-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/interested-students-per-month-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/numbers-only-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/delete-info-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/get-info-by-date-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/to-the-top-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/modal-opener-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/historico-pagamento-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/location-changer-directive.js"></script>
    </body>
</html>