<div ng-controller="BooksController">
    <div id="livros-container" class="topic transition selected {{cfg.livros.classeBorda}}">
        <h1>{{cfg.livros.nome}} <span class="text-almost-invisible">{{livros.length}} livros</span></h1>

        <button type="button" class="btn btn-default pull-right" id="adicionarLivro"
                modal-opener="#modal-book"
                ng-click="resetBook()">
            cadastrar livro
        </button>

        <input type="text"
               class="form-control fc-search"
               placeholder="procurar livro"
               ng-model="livroProcurado"
               maxlength="100"
               autofocus />
    </div>

    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <form name="bookRegister">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title"
                            ng-show="livro.isNew()">cadastrar {{livro.name}}</h4>

                        <h4 class="modal-title"
                            ng-hide="livro.isNew()">editar {{livro.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <label>nome</label>
                        <input type="text"
                               class="form-control"
                               ng-model="livro.name"
                               maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"
                               required
                               ng-class="{'error': bookRegister.name.$invalid}"
                               name="name"
                               ng-minlength=3
                               autofocus/>
                        <br/>
                        <div class="middle-modal">
                            <aside class="pull-left">
                                <label>quantidade</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="livro.quantity"
                                       name="quantity"
                                       ng-minlength=1
                                       required
                                       ng-class="{'error': bookRegister.quantity.$invalid}"
                                       maxlength="{{inputMaxLength.TAMANHO_CAMPO_QUANTIA}}"
                                       numbers-only />
                            </aside>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="registerBook(livro)"
                                block-all-inputs-buttons-from="modal-register-book"
                                ng-disabled="bookRegister.$invalid"
                                ng-show="livro.isNew()"
                                id="register-book-button">
                            cadastrar
                        </button>

                        <button type="button"
                                class="btn btn-default"
                                ng-click="editBook(livro)"
                                block-all-inputs-buttons-from="modal-register-book"
                                ng-disabled="bookRegister.$invalid"
                                ng-hide="livro.isNew()"
                                id="edit-book-button">
                            salvar alterações
                        </button>

                        <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <delete-info directiveid="modal-delete-book"
                 title="livros"
                 objectname="{{livro.name}}"
                 objectid="{{livro._id}}"
                 delete="deleteBook(id)">
     </delete-info>

    <div class="info-card transition" ng-repeat="livro in livros | orderBy: 'name' | filter: livroProcurado">
        <plus-less-info-element elementToToggle="book-toggle-{{$index}}"></plus-less-info-element>
        <h3 class="titulo">{{livro.name}}</h3>
        <div id="book-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">quantidade: <span class="text-almost-black">{{livro.quantity}}</span></p>
            <button type="button"
                    class="btn btn-link pull-right"
                    ng-click="setBook(livro)"
                    modal-opener="#modal-delete-book">excluir</button>

            <button type="button"
                    class="btn btn-default pull-right"
                    ng-click="setBook(livro)"
                    modal-opener="#modal-book">editar</button>
        </div>
    </div>
</div>