<div ng-controller="ClazzDayController">
    <div id="turmas-container" class="topic transition selected {{cfg.information.aulas.classeBorda}}">
        <h1>{{cfg.information.aulas.nome}}</h1>
        <p>Tenha total controle sobre toda a informação das aulas.</p>
        <p>{{cfg.information.aulas.resumo}}</p>
        <button type="button" class="btn btn-default pull-right" id="#adicionarTurma"
                ng-click="openModalToRegisterClazzDay()">
            registrar aula
        </button>
        <input type="text" class="form-control fc-search" placeholder="procurar aula" ng-model="turmaProcurada" maxlength="100" autofocus/>
    </div>

    <div class="modal fade" id="modal-clazz-day">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Dia {{hoje}}</h4>
                </div>
                <div class="modal-body">
                    <label>turma</label>
                    <br/>
                    <select ng-model="turmaDiaDia" ng-options="turma.name for turma in clazzesNames" ng-change="getStudentsNamesByClass(turmaDiaDia.name)"></select>
                    <br/><br/>
                    <label>professor responsável</label>
                    <input type="text" class="form-control" ng-model="turmaDiaDia.teacherName" maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_NOME}}" autofocus/>
                    <br/>

                    <div ng-if="turmaDiaDia.name">
                        <label>presença</label>

                        <div ng-if="alunos.length === 0" align="center">
                            <div class="alert alert-warning">Não existem alunos para a turma escolhida.</div>
                        </div>

                        <p ng-repeat="aluno in alunos" class="presenca transition">{{aluno.name}}
                            <input type="checkbox" class="pull-right" ng-model="aluno.wasInClass"/>
                        </p>
                    </div>

                    <br/>
                    <label>matéria</label>
                    <input type="text" class="form-control" ng-model="turmaDiaDia.subject" maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_NOME}}"/>
                    <br/>
                    <label>observação</label>
                    <textarea type="text" rows="5" class="form-control" ng-model="turmaDiaDia.observation" spellcheck="true" max-length="333"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            ng-disabled="!(!!turmaDiaDia.teacherName && !!turmaDiaDia.subject && alunos.length > 0)"
                            ng-click="registerClazzDay(turmaDiaDia, alunos)">
                        registrar
                    </button>
                    <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                    <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="info-card transition" ng-repeat="turma in informacaoDiaria | orderBy: 'name' | filter: turmaProcurada">
        <plus-less-info-element elementToToggle="class-toggle-{{$index}}"></plus-less-info-element>
        <h3>{{turma.name}}</h3>
        <div id="class-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">horário: <span class="text-almost-black">{{turma.time | date: 'hh:mm:ss'}}</span></p>

            <div>
                <get-info-by-date getinfo="getClassesDailyInfo(date, turma._id)"></get-info-by-date>

                <div ng-if="turma.dailyInfo.length === 0" align="center">
                    <div class="alert alert-warning">Não existe informação para a data escolhida.</div>
                </div>

                <div ng-if="turma.dailyInfo.length > 0">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <td>dia</td>
                                <td>matéria</td>
                                <td>professor</td>
                                <td>presença</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in turma.dailyInfo | orderBy: 'day'">
                                <td>{{info.day}}</td>
                                <td>{{info.subject}}</td>
                                <td>{{info.teacherName}}</td>
                                <td class="studentsInClass">
                                    <span class="label" ng-repeat="s in info.studentByDay | orderBy: 'name'"
                                          ng-class="s.wasInClass ? 'label-success' : 'label-danger'">{{s.name}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>