<div ng-controller="ClazzDayController">
    <div id="turmas-container" class="topic transition selected {{cfg.aulas.classeBorda}}">
        <h1>{{cfg.aulas.nome}}</h1>

        <button type="button"
                class="btn btn-default pull-right"
                modal-opener="#modal-clazz-day"
                id="adicionar-aula">
            registrar aula
        </button>

        <input type="text"
               class="form-control fc-search"
               placeholder="procurar aula"
               ng-model="turmaProcurada"
               maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"
               autofocus/>
    </div>

    <div class="modal fade" id="modal-clazz-day">
        <div class="modal-dialog">
            <form name="clazzDayRegister">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Dia {{hoje}}</h4>
                    </div>
                    <div class="modal-body">
                        <label>turma</label>
                        <br/>
                        <select ng-model="turma.name"
                                ng-options="turma.name for turma in clazzesNames"
                                required
                                name="clazz"
                                ng-class="{'error': clazzDayRegister.clazz.$invalid}"
                                ng-change="getStudentsNamesByClass(turma.name)"></select>
                        <br/><br/>
                        <label>professor responsável</label>
                        <br/>
                        <select ng-model="turma.teacherName"
                                required
                                name="teacher"
                                ng-class="{'error': clazzDayRegister.teacher.$invalid}"
                                ng-options="professor.name for professor in professores"></select>
                        <br/><br/>

                        <div ng-if="turma.name">
                            <label>presença</label>

                            <div ng-if="!alunos.length" align="center">
                                <div class="alert alert-warning">Não existem alunos para a turma escolhida.
                                    <span emd-change-location-to="/alunos"
                                            reload-whole-page="true"
                                          class="hand"> <strong>Clique aqui para cadastrar.</strong>
                                    </span>
                                </div>
                            </div>

                            <p ng-repeat="aluno in alunos"
                               class="presenca transition">{{aluno.name}}
                                    <input type="checkbox"
                                           class="pull-right"
                                           required
                                           name="student"
                                           ng-class="{'error': clazzDayRegister.student.$invalid}"
                                           ng-model="aluno.wasInClass"/>
                            </p>
                        </div>

                        <br/>
                        <label>matéria</label>
                        <input type="text"
                               class="form-control"
                               ng-model="turma.subject"
                               required
                               ng-minlength="3"
                               name="subject"
                               ng-class="{'error': clazzDayRegister.subject.$invalid}"
                               maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"/>
                        <br/>
                        <label>observação</label>
                        <textarea type="text"
                                  rows="5"
                                  class="form-control"
                                  ng-model="turma.observation"
                                  spellcheck="true"
                                  max-length="500"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                ng-disabled="clazzDayRegister.$invalid"
                                ng-click="registerClazzDay(turma, alunos)"
                                block-all-inputs-buttons-from="modal-clazz-day"
                                id="register-clazzday-button">
                            registrar
                        </button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="info-card transition"
         ng-repeat="turma in informacaoDiaria | orderBy: 'name' | filter: turmaProcurada">

        <plus-less-info-element
                elementToToggle="class-toggle-{{$index}}">
        </plus-less-info-element>

        <h3>{{turma.name}}</h3>
        <div id="class-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">horário: <span class="text-almost-black">{{turma.time | date: 'hh:mm:ss'}}</span></p>

            <div>
                <get-info-by-date getinfo="getClassesDailyInfo(date, turma._id)"></get-info-by-date>

                <div ng-if="turma.dailyInfo.length === 0" align="center">
                    <div class="alert alert-warning">Não existe informação para a data escolhida.</div>
                </div>

                <div ng-if="turma.dailyInfo.length > 0">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <td>dia</td>
                                <td>matéria</td>
                                <td>professor</td>
                                <td>presença</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in turma.dailyInfo | orderBy: 'day'">
                                <td>{{info.day}}</td>
                                <td>{{info.subject}}</td>
                                <td>{{info.teacherName}}</td>
                                <td class="studentsInClass">
                                    <span class="label" ng-repeat="s in info.studentByDay | orderBy: 'name'"
                                          ng-class="s.wasInClass ? 'label-success' : 'label-danger'">{{s.name}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>