<div ng-controller="ClazzDayController">
    <div id="turmas-container" class="topic transition selected {{cfg.information.aulas.classeBorda}}">
        <h1>{{cfg.information.aulas.nome}} <span class="text-almost-invisible">{{turmasCadastradas.length}} turmas</span></h1>
        <p>Tenha total controle sobre toda a informação das aulas.</p>
        <p>{{cfg.information.aulas.resumo}}</p>
        <button type="button" class="btn btn-default pull-right" id="#adicionarTurma"
                ng-click="openModalToRegisterClazzDay()">
            registrar aula
        </button>
        <input type="text" class="form-control fc-search" placeholder="procurar aula" ng-model="turmaProcurada" maxlength="100" autofocus/>
    </div>

    <div class="modal fade" id="modal-clazz-day">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Dia {{hoje}}</h4>
                </div>
                <div class="modal-body">
                    <label>turma</label>
                    <br/>
                    <select ng-model="turmaDiaDia" ng-options="turma.name for turma in turmasCadastradas" ng-change="getStudentsNamesByClass(turmaDiaDia.name)"></select>
                    <br/><br/>
                    <label>professor responsável</label>
                    <input type="text" class="form-control" ng-model="turmaDiaDia.teacherName" maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_NOME}}" autofocus/>
                    <br/>
                    <label>presença</label>
                    <p ng-repeat="aluno in alunos" class="presenca transition">{{aluno.name}}
                        <input type="checkbox" class="pull-right" ng-model="aluno.wasInClass"/>
                    </p>
                    <br/>
                    <label>matéria</label>
                    <input type="text" class="form-control" ng-model="turmaDiaDia.subject" maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_NOME}}"/>
                    <br/>
                    <label>observação</label>
                    <textarea type="text" rows="5" class="form-control" ng-model="turmaDiaDia.observation" spellcheck="true" max-length="333"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            ng-disabled="!(!!turmaDiaDia.teacherName && !!turmaDiaDia.subject)"
                            ng-click="registerClazzDay(turmaDiaDia, alunos)">
                        registrar
                    </button>
                    <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                    <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit-clazz-day">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">editar {{turmaEscolhida.name}}</h4>
                </div>
                <div class="modal-body">
                    <p>Para editar a turma escolhida, favor preencher as informações abaixo:</p>
                    <label>nome</label>
                    <input type="text" class="form-control" ng-model="turmaEscolhida.name" autofocus maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_NOME}}"/>
                    <br/>
                    <div class="middle-modal">
                        <aside class="pull-left">
                            <label>quantidade de alunos</label>
                            <input type="text" class="form-control" ng-model="turmaEscolhida.studentsQuantity" maxlength="6"/>
                        </aside>
                        <aside class="pull-right">
                            <label>horário</label>
                            <input type="time" class="form-control" ng-model="turmaEscolhida.time" maxlength="{{cfg.lengthConstants.TAMANHO_CAMPO_HORARIO}}"/>
                        </aside>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-disabled="!(!!turmaEscolhida.name && !!turmaEscolhida.time)"
                            ng-click="editClazzDay(turmaEscolhida)">
                        continuar
                    </button>
                    <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                    <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <delete-info directiveid="modal-delete-class-day" title="aula" objectname="{{aulaEscolhida.name}}" objectid="{{aulaEscolhida._id}}" delete="deleteClazzDay(id)"></delete-info>

    <div class="info-card transition" ng-repeat="turma in turmasCadastradas | filter: turmaProcurada">
        <plus-less-info-element elementToToggle="class-toggle-{{$index}}"></plus-less-info-element>
        <h3>{{turma.name}}</h3>
        <div id="class-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">horário: <span class="text-almost-black">{{turma.time | date: 'hh:mm:ss'}}</span></p>

            <div ng-show=isHistoricoVisible({{turma.dailyInfo.length}})>
                <div class="select-data" align="center">
                    <button type="button" class="btn btn-default btn-sm" ng-click="changeDate(monthYear, 'add')">&#171;</button>
                    {{monthYear}}
                    <button type="button" class="btn btn-default btn-sm" ng-click="changeDate(monthYear, 'subtract')">&#187;</button>
                </div>

                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>dia</td>
                        <td>matéria</td>
                        <td>professor</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="momento in turma.dailyInfo">
                        <td>{{momento.date | date: 'dd'}}</td>
                        <td>{{momento.subject}}</td>
                        <td>{{momento.teacherName}}</td>
                    </tr>
                    </tbody>
                </table>

                <br/><br/>

                <div ng-repeat="momento in turma.dailyInfo">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="aluno in momento.studentByDay">
                                <td>{{aluno.name}}</td>
                                <td>
                                    <is-ok-disc situation="{{aluno.wasInClass}}" when="momento.date"></is-ok-disc>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button type="button" class="btn btn-link pull-right" ng-click="openModalToDeleteClazzDay(turma)">excluir</button>
            <button type="button" class="btn btn-default pull-right" ng-click="openModalToEditClazzDay(turma)">editar</button>
        </div>
    </div>
</div>