<div ng-controller="ClassesController">
    <div id="turmas-container" class="topic transition selected {{cfg.information.turmas.classeBorda}}">
        <h1>{{cfg.information.turmas.nome}} <span class="text-almost-invisible">{{turmas.length}} turmas</span></h1>
        <p>Tenha total controle sobre toda a informação das turmas cadastradas.</p>
        <p>{{cfg.information.turmas.resumo}}</p>
        <button type="button" class="btn btn-default pull-right" id="#adicionarTurma"
                ng-click="openModalToRegisterClass()">
            cadastrar turma
        </button>
        <input type="text" class="form-control fc-search" placeholder="procurar turma" ng-model="turmaProcurada" maxlength="100" autofocus/>
    </div>

    <div class="modal fade" id="modal-register-class">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">cadastrar turma {{novaTurma.name}}</h4>
                </div>
                <div class="modal-body">
                    <p>para cadastrar a turma, favor preencher as informações abaixo:</p>
                    <label>nome</label>
                    <input type="text" class="form-control" ng-model="novaTurma.name" autofocus maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"/>
                    <br/>

                    <label>alunos</label>
                    <br/>
                    <textarea type="text" class="form-control" ng-model="novaTurma.students" maxlength="500"></textarea>
                    <br/>

                    <div class="middle-modal">
                        <aside class="pull-left">
                            <label>horário</label>
                            <input type="time" class="form-control" ng-model="novaTurma.time" maxlength="{{inputMaxLength.TAMANHO_CAMPO_HORARIO}}"/>
                        </aside>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            ng-disabled="!(!!novaTurma.name && !!novaTurma.time)"
                            ng-click="registerClass (novaTurma)"
                            block-all-inputs-buttons-from="modal-register-day">
                        cadastrar
                    </button>
                    <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                    <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit-class">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">editar {{turmaEscolhida.name}}</h4>
                </div>
                <div class="modal-body">
                    <label>nome</label>
                    <input type="text" class="form-control" ng-model="turmaEscolhida.name" autofocus maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"/>
                    <br/>

                    <label>alunos</label>
                    <br/>
                    <textarea type="text" class="form-control" ng-model="turmaEscolhida.students" maxlength="500"></textarea>
                    <br/>

                    <div class="middle-modal">
                        <aside class="pull-left">
                            <label>horário</label>
                            <input type="time" class="form-control" ng-model="turmaEscolhida.time" maxlength="{{inputMaxLength.TAMANHO_CAMPO_HORARIO}}"/>
                        </aside>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-disabled="!(!!turmaEscolhida.name && !!turmaEscolhida.time)"
                            ng-click="editClass(turmaEscolhida)"
                            block-all-inputs-buttons-from="modal-edit-day">
                        salvar alterações
                    </button>
                    <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                    <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <delete-info directiveid="modal-delete-class"
                title="turma"
                objectname="{{turmaEscolhida.name}}"
                objectid="{{turmaEscolhida._id}}"
                delete="deleteClass(id)">
    </delete-info>

    <div class="info-card transition" ng-repeat="turma in turmas | orderBy: 'name' | filter: turmaProcurada">
        <plus-less-info-element elementToToggle="class-toggle-{{$index}}"></plus-less-info-element>
        <h3>{{turma.name}}</h3>
        <div id="class-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">alunos: <span class="text-almost-black alunos" ng-repeat="alunos in turma.students">{{alunos}}</span></p>
            <p class="text-almost-invisible">horário: <span class="text-almost-black">{{turma.time | date: 'hh:mm:ss'}}</span></p>

            <button type="button" class="btn btn-link pull-right" ng-click="openModalToDeleteClass(turma)">fechar</button>
            <button type="button" class="btn btn-default pull-right" ng-click="openModalToEditClass(turma)">editar</button>
        </div>
    </div>
</div>