<div ng-controller="MainController">

    <div class="welcome-container">
        <p class="big-text">{{getPeriodDay()}}{{userOnline()}}!</p>
        <p class="general-info espaco-top">Pronto para gerenciar as informações de seu curso?</p>
        <p class="general-info">Basta escolher o assunto e correr para o abraço!</p>
    </div>

    <br/>

    <div id="aulas-container" class="topic transition {{cfg.aulas.classeBorda}}" ng-click="redirectTo('aulas')">
        <img src="../img/clazzDay.png" class="pull-right transition container-icon hidden-xs"/>
        <h1>{{cfg.aulas.nome}}</h1>
        <p class="hidden-small-phone">{{cfg.aulas.resumo}}</p>
    </div>

	<div id="turmas-container" class="topic transition {{cfg.turmas.classeBorda}}" ng-click="redirectTo('turmas')">
        <img src="../img/clazz.png" class="pull-right transition container-icon hidden-xs"/>
		<h1>{{cfg.turmas.nome}}</h1>
        <p class="hidden-small-phone">{{cfg.turmas.resumo}}</p>
	</div>

    <div id="professores-container" class="topic transition {{cfg.professores.classeBorda}}" ng-click="redirectTo('professores')">
        <img src="../img/teacher.png" class="pull-right transition container-icon hidden-xs"/>
        <h1>{{cfg.professores.nome}}</h1>
        <p class="hidden-small-phone">{{cfg.professores.resumo}}</p>
    </div>

	<div id="alunos-container" class="topic transition {{cfg.alunos.classeBorda}}" ng-click="redirectTo('alunos')">
        <img src="../img/student.png" class="pull-right transition container-icon hidden-xs"/>
		<h1>{{cfg.alunos.nome}}</h1>
		<p class="hidden-small-phone">{{cfg.alunos.resumo}}</p>
	</div>

	<div id="livros-container" class="topic transition {{cfg.livros.classeBorda}}" ng-click="redirectTo('livros')">
        <img src="../img/book.png" class="pull-right transition container-icon hidden-xs"/>
		<h1>{{cfg.livros.nome}}</h1>
		<p class="hidden-small-phone">{{cfg.livros.resumo}}</p>
	</div>

	<div id="pagamentos-container" class="topic transition {{cfg.pagamentos.classeBorda}}" ng-click="redirectTo('pagamentos')">
        <img src="../img/payment.png" class="pull-right transition container-icon hidden-xs"/>
		<h1>{{cfg.pagamentos.nome}}</h1>
		<p class="hidden-small-phone">{{cfg.pagamentos.resumo}}</p>
	</div>

	<div id="estatisticas-container" class="topic transition {{cfg.estatisticas.classeBorda}}" ng-click="redirectTo('estatisticas')">
        <img src="../img/statistics.png" class="pull-right transition container-icon hidden-xs"/>
		<h1>estatísticas</h1>
		<p class="hidden-small-phone">{{cfg.estatisticas.resumo}}</p>
	</div>
</div>