<div ng-controller="MainController">

    <div class="welcome-container">
        <p class="big-text">{{getPeriodDay()}}{{userOnline()}}!</p>
        <p class="general-info espaco-top">Pronto para gerenciar as informações de seu curso?</p>
        <p class="general-info">Basta escolher o assunto e correr para o abraço!</p>
    </div>

    <br/>

    <div ng-repeat="topico in topicos">
        <div id="{{topico.id}}"
             class="topic transition {{topico.classeBorda}}"
             emd-change-location-to="{{topico.location}}">
                <img ng-src="{{topico.img}}" class="pull-right transition container-icon hidden-xs"/>
                <h1>{{topico.nome}}</h1>
                <p class="hidden-small-phone">{{topico.resumo}}</p>
        </div>
    </div>
</div>