<div ng-controller="PaymentsController">
    <div id="pagamentos-container" class="topic transition selected {{cfg.information.pagamentos.classeBorda}}">
        <h1>{{cfg.information.pagamentos.nome}}</h1>
        <p>tenha total controle sobre todos os pagamentos que são feitos.</p>
        <p>{{cfg.information.estatisticas.resumo}}</p>
        <button type="button" class="btn btn-default pull-right" id="#adicionarLivro"
                ng-click="openModalToRegisterPayment()">
            realizar pagamento
        </button>
        <input type="text" class="form-control fc-search" placeholder="procurar pagamento" ng-model="pagamentoProcurado" maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}" autofocus/>
    </div>

    <div class="modal fade" id="modal-pay">
        <div class="modal-dialog">
            <form name="paymentRegister">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">realizar pagamento</h4>
                    </div>
                    <div class="modal-body">
                        <label>nome do aluno</label>
                        <br/>
                        <select ng-model="alunoPagando.name"
                                required
                                name="name"
                                ng-class="{'error': paymentRegister.name.$invalid}"
                                ng-options="pagamento.name for pagamento in pagamentos"></select>
                        <br/><br/>
                        <div class="middle-modal">
                            <aside class="pull-left">
                                <label>forma de pagamento</label>
                                <input type="text" class="form-control"
                                       ng-model="alunoPagando.paidWithWhat"
                                       required
                                       name="paymentWay"
                                       ng-class="{'error': paymentRegister.paymentWay.$invalid}"
                                       ng-minlength="2"
                                       maxlength="{{inputMaxLength.TAMANHO_CAMPO_NOME}}"/>
                            </aside>
                            <aside class="pull-right">
                                <label>mês</label>
                                <select ng-model="alunoPagando.paymentMonth"
                                        required
                                        name="month"
                                        ng-class="{'error': paymentRegister.month.$invalid}"
                                        ng-options="m.nome for m in months"></select>
                            </aside>
                        </div>
                        <div class="middle-modal">
                            <aside class="pull-left">
                                <label>quantia</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="alunoPagando.amountPaid"
                                       required
                                       name="amount"
                                       ng-class="{'error': paymentRegister.amount.$invalid}"
                                       ng-minlength="2"
                                       maxlength="{{inputMaxLength.TAMANHO_CAMPO_QUANTIA}}"
                                       numbers-only/>
                            </aside>
                        </div>
                        <label>observação</label>
                        <textarea type="text"
                                  class="form-control"
                                  rows="5"
                                  spellcheck="true"
                                  ng-model="alunoPagando.observation"
                                  maxlength="500">
                          </textarea>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                ng-click="pay(alunoPagando)"
                                ng-disabled="paymentRegister.$invalid"
                                block-all-inputs-buttons-from="modal-pay">
                            pagar
                        </button>
                        <img src="img/loading.gif" ng-show=isLoadingVisible.modal />
                        <button type="button" class="btn btn-link" data-dismiss="modal">cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="info-card transition" ng-repeat="pagamento in pagamentos | orderBy: 'name' | filter: pagamentoProcurado">
        <plus-less-info-element elementToToggle="payment-toggle-{{$index}}"></plus-less-info-element>
        <h3>{{pagamento.name}}</h3>
        <div id="payment-toggle-{{$index}}" class="collapse">
            <p class="text-almost-invisible">turma: <span class="text-almost-black">{{pagamento.class}}</span></p>
            <p class="text-almost-invisible">email: <a href="mailto:{{pagamento.email}}">{{pagamento.email}}</a></p>
            <p class="text-almost-invisible">celular: <span class="text-almost-black">{{pagamento.mobilePhone}}</span></p>
            <p class="text-almost-invisible">tipo de contrato: <span class="text-almost-black">{{pagamento.contract}}</span></p>
            <p class="text-almost-invisible">data do contrato: <span class="text-almost-black">{{pagamento.contractDate}}</span></p>
            <p class="text-almost-invisible">vencimento: <span class="text-almost-black">{{pagamento.untilWhen}}</span></p>
            <a href data-toggle="collapse" data-target="#historico{{$index}}" ng-show="isHistoricoVisible(pagamento)">histórico de pagamento</a>

            <div ng-if="pagamento.payments.length === 0" align="center">
                <div class="alert alert-warning">
                    <span>Aluno não pagou ainda.</span>
                    <a href class="alert-link" ng-click="openModalToRegisterPayment()">Clique aqui para realizar o pagamento.</a>
                </div>
            </div>

            <div id="historico{{$index}}" class="collapse historico">
                <div ng-repeat="historico in pagamento.payments" class="payment transition">
                    <h3>{{historico.paymentMonth}}</h3>
                    <p class="text-almost-invisible">quantia: <span class="text-almost-black">{{historico.amountPaid}}</span></p>
                    <p class="text-almost-invisible">forma de pagamento: <span class="text-almost-black">{{historico.paidWithWhat}}</span></p>
                    <p class="text-almost-invisible">observação: <span class="text-almost-black">{{historico.observation}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>